<ul id="menu" class="mfb-component--br mfb-fountain" data-mfb-toggle="hover" ng-controller="mfbController as mfb">
    <li class="mfb-component__wrap">
        <a class="mfb-component__button--main">
            <i class="mfb-component__main-icon--resting ion-plus-round"></i>
            <i class="mfb-component__main-icon--active ion-close-round"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
                <a ng-click="mfb.logout()" data-mfb-label="Logout" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-log-out"></i>
                </a>
            </li>
            <li>
                <a ng-click="mfb.showStat()" data-mfb-label="Stats" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-stats-bars"></i>
                </a>
            </li>
            <li>
                <a ng-click="mfb.addProblem()"  data-mfb-label="Add Problem" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-ios-compose-outline"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>
<div class="dashboard">
    <!-- Header directive as a element  -->
    <body-header></body-header>

    <aside class="main-sidebar" ng-class="feedVm.sidebarstateClass" style="min-height: 956px;">
        <section class="sidebar" style="height:auto">
            <h3>My Projects</h3>
            <ul class="sidebar-menu" ng-repeat="problem in [1,2,3,4,5,6]">
                <li><a href="#">title</a></li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper" style="min-height:906px">
        <div class="body-middle uiScrollableArea">
            <div class="uiScrollableAreaWrap scrollable">
                <div class="uiScrollableAreaBody">
                    <div ng-repeat="feed in feedVm.feeds">
                        <postcard item="feed"></postcard>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="control-sidebar">
        <h3>My Projects</h3>
        <ul class="sidebar-menu" ng-repeat="i in [1,2,3,4,5,6]">
            <li><a href="#">title</a></li>
        </ul>
    </aside>
</div>