<floating-btn class="floating-btn"></floating-btn>
<div class="dashboard" style="overflow-x: hidden;">
    <!-- Header directive as a element  -->
    <body-header></body-header>

    <aside class="main-sidebar" ng-class="feedVm.sidebarstateClass" style="min-height: 956px;">
        <section class="sidebar" style="height:auto">
            <h3>My Projects</h3>
            <ul class="sidebar-menu" ng-repeat="problem in feedVm.myProblemList">
                <li><a ng-click="feedVm.getProblem(problem)">{{problem.title}}</a></li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper" style="min-height:906px">
        <div class="body-middle uiScrollableArea">
            <div class="uiScrollableAreaWrap scrollable">
                <div class="uiScrollableAreaBody">
                    <!--for top pagination-->
                    <div id="wrapper" style="text-align: center">
                        <ul class="pagination">
                            <li ng-repeat="page in feedVm.range(feedVm.pages)">
                                <a ng-click="feedVm.updateFeeds(page)">{{page}}</a>
                            </li>
                        </ul>
                    </div>

                    <!--feeds-->
                    <div ng-repeat="feed in feedVm.feeds" ng-if="feedVm.feeds.length > 1">
                        <postcard item="feed"></postcard>
                    </div>

                    <!--for bottom pagination-->
                    <div id="wrapper" style="text-align: center">
                        <ul class="pagination">
                            <li ng-repeat="page in feedVm.range(feedVm.pages)">
                                <a ng-click="feedVm.updateFeeds(page)">{{page}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="control-sidebar">
        <highchart id="chart1" config="feedVm.highchartsNG"></highchart>
    </aside>
</div>