<div class="navbar">
    <div class="navbar-inner">
        <div class="logo"><img src="images/logo-top.png" alt=""> Privileged4All</div>
        <div data-toggle="modal" data-target="#menu" id="navbar-toggle"><i class="btr bt-bars"></i></div>
        <div id="navigation">
            <li data-menuanchor="start"><a href="#start">Start</a></li>
            <li data-menuanchor="features"><a href="#features">Features</a></li>
            <li data-menuanchor="roadmap"><a href="#roadmap">Roadmap</a></li>
            <li data-menuanchor="started"><a href="#started">Get Started</a></li>
            <li><a href="register.ejs" class="action" data-toggle="modal" data-target="#action">Sign up</a></li>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div id="content">
    <div class="section intro" id="section0">
        <h1>fullPage.js</h1>
        <p>Create Beautiful Fullscreen Scrolling Websites</p>
        <img src="images/shelf.jpg" alt="fullPage" />
    </div>
    <div class="section features" id="section1">
        <div class="slide">
            <div class="intro">
                <h1>Create Sliders</h1>
                <p>Not only vertical scrolling but also horizontal scrolling. With fullPage.js you will be able to add horizontal sliders in the most simple way ever.</p>
                <img src="images/scroll.png" alt="slider" />
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <img src="images/logo-top.png" alt="simple" />
                <h1>Simple</h1>
                <p>Easy to use. Configurable and customizable.</p>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <h1>Cool</h1>
                <p>It just looks cool. Impress everybody with a simple and modern web design!</p>
            </div>
        </div>
    </div>
    <div class="section roadmap" id="section2">
        <div class="slide">
        </div>
        <div class="slide">

        </div>
        <div class="slide">

        </div>
        <div class="slide">

        </div>
        <div class="slide">

        </div>
        <div class="slide">

        </div>
    </div>
    <div class="section footer" id="section3">
        <div class="footer-inner">
            <div class="sub">Sign up <b>your sport club</b> or <b>as an individual</b> for <b>free</b> now! You'll be one of the first to know when we launch!</div>
            <a class="type" href="register.php" data-toggle="modal" data-target="#action">
                <i class="btl bt-shield"></i>
                Sport club
            </a>
            <a class="type" href="register-member.php" data-toggle="modal" data-target="#action">
                <i class="btl bt-user"></i>
                Individual
            </a>
        </div>
        <div class="copyright">Copyright &copy 2015 <a href="#">Void</a> <i class="bts bt-circle"></i> <a href="mailto:ser@kurious7.be?subject=Klublr Questions">Contact us</a> <i class="bts bt-circle"></i> <a href="https://www.facebook.com/klublr">Facebook</a> <i class="bts bt-circle"></i> <a href="https://twitter.com/HelloKlublr">Twitter</a></div>
    </div>
</div>