<div class="dashboard">
    <body-header></body-header>
    <div class="dashboard-body">
        <div class="sidebar left containers">
            <h3>My Projects</h3>
            <div class="nav-links" ng-repeat="i in [1,2,3,4,5,6]">
                <li><a href="#"></a>title</li>
            </div>
        </div>
        <div class="body-middle containers uiScrollableArea">
            <div class="uiScrollableAreaWrap scrollable">
                <div class="uiScrollableAreaBody">
                    <div ng-repeat="feed in feedVm.feeds">
                        <postcard item="feed"></postcard>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar right containers">
            <div class="cont-right-top blocks">

            </div>
            <div class="cont-right-bottom blocks">

            </div>
        </div>
    </div>
</div>