<div class="navbar">
    <div class="navbar-inner">
        <div class="logo"><img src="images/logo-top.png" alt=""> Privileged4All</div>
        <div data-toggle="modal" data-target="#menu" id="navbar-toggle"><i class="btr bt-bars"></i></div>
        <div id="navigation">
            <li data-menuanchor="start"><a href="#start">Start</a></li>
            <li data-menuanchor="features"><a href="#features">Features</a></li>
            <li data-menuanchor="roadmap"><a href="#roadmap">Roadmap</a></li>
            <li data-menuanchor="started"><a href="#started">Get Started</a></li>
            <li><a href="register.ejs" class="action" data-toggle="modal" data-target="#action">Sign up</a></li>
        </div>
    </div>
</div>

<div id="fullpage">
    <div class="section intro" id="section0">
        <div>Home</div>
    </div>
    <div class="section features" id="section1">
        <div class="slide">
            <div class="page-header">Features</div>
            <div class="page-header-label"><i class="btl bt-arrow-left"></i> what to expect <i class="btl bt-arrow-right"></i></div>
        </div>
        <div class="slide">
            <div class="page-header">Features</div>
            <div class="page-header-label"><i class="btl bt-arrow-left"></i> what to expect <i class="btl bt-arrow-right"></i></div>
        </div>
        <div class="slide">
            <div class="page-header">Features</div>
            <div class="page-header-label"><i class="btl bt-arrow-left"></i> what to expect <i class="btl bt-arrow-right"></i></div>
        </div>
        <div class="slide">
            <div class="page-header">Features</div>
            <div class="page-header-label"><i class="btl bt-arrow-left"></i> what to expect <i class="btl bt-arrow-right"></i></div>
        </div>
    </div>
    <div class="section roadmap" id="section2">

    </div>
    <div class="section footer" id="section3">
        <div>Footer</div>
    </div>
</div>