<div class="login-box" ng-controller="loginCtrl as ctrl">
    <div class="login-logo">
        <a href="/"><b>Privileged</b><i>4All</i></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">User Login</p>

        <form action="#" method="post">
            <div class="form-group icon-support form-row">
                <div class="item control-label">Email ID</div>
                <input type="email" class="form-control">
                <!--<span class="glyphicon glyphicon-user glyphicon-custom-position"></span>-->
            </div>
            <div class="form-group icon-support form-row">
                <div class="item control-label">Password</div>
                <input type="password" class="form-control">
            </div>
            <div class="signup-footer">
                <input class="btn btn-submit" type="submit" value="Sign In" />
            </div>
        </form>
        <p class="login-box-anchor"><a href="#forgot">forgot password ?? click here..</a></p>
    </div>
</div>
<!-- Modal for forgot password -->
<div id="forgot" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Modal Box</h2>
        <p>This is a sample modal box that can be created using the powers of CSS3.</p>
        <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
    </div>
</div>
