<floating-btn class="floating-btn"></floating-btn>
<div class="dashboard">
    <!-- Header directive as a element  -->
    <body-header></body-header>

    <aside class="main-sidebar" ng-class="statsVm.sidebarstateClass" style="min-height: 956px;">
        <section class="sidebar" style="height:auto">
            <h3>My Projects</h3>
            <ul class="sidebar-menu" ng-repeat="problem in statsVm.myProblemList">
                <li><a ng-click="statsVm.getProblem(problem)">{{problem.title}}</a></li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper" style="min-height:906px">
        <div class="body-middle uiScrollableArea">
            <div class="uiScrollableAreaWrap scrollable">
                <div class="uiScrollableAreaBody">

                    <!-- Charts code -->

                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Charts</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12" id="line-chart">
                            <div class="panel panel-default">
                                <div class="panel-heading">Commits Chart</div>
                                <div class="panel-body">
                                    <highchart id="chart1" config="statsVm.getCommitsChart"></highchart>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12" id="line-chart">
                            <div class="panel panel-default">
                                <div class="panel-heading">Contributors Chart</div>
                                <div class="panel-body">
                                    <highchart id="chart1" config="statsVm.getContributorChart"></highchart>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12" id="line-chart">
                            <div class="panel panel-default">
                                <div class="panel-heading">Line of Codes Chart</div>
                                <div class="panel-body">
                                    <highchart id="chart1" config="statsVm.getLineOfCodeChart"></highchart>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-6 col-sm-12" id="bar-chart">-->
                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel-heading">Bar Chart</div>-->
                                <!--<div class="panel-body">-->
                                    <!--<canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"-->
                                            <!--options="bar.options"></canvas>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                    <!-- Charts code -->

                </div>
            </div>
        </div>
    </div>

    <aside class="control-sidebar">
        <highchart id="chart1" config="statsVm.expertiseChart"></highchart>
    </aside>
</div>