<md-content>
    <md-card>
        <md-card-content>
            <div class="row">
                <div class="col-md-2"><img alt="Profile Imgae"></div>
                <p class="col-md-10" class="md-ttle">{{ intItem.title }}</p>
                <p>Date : Nov 20, 2015</p>
            </div>
            <p class="trim-desc">
                {{ intItem.desc | limitTo: intItem.limit }}
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <div class="col-md-2 glyphicon-icons" layout="row"><img src="/images/like.png"><p>Likes</p></div>
            <div class="col-md-2 glyphicon-icons" layout="row"><img src="/images/people.png"><p>People</p></div>
            <div class="col-md-2 glyphicon-icons" layout="row"><img src="/images/team1.png"><p>Teams</p></div>
        </md-card-actions>
    </md-card>
</md-content>