<md-content>
    <md-card>
        <md-card-content>
            <div class="row card-content">
                <div class="col-md-1"><img class="profile-img" src="images/user.png" alt="Profile Image"></div>
                <div class="col-md-10">
                    <p class="title" ng-click="feedItem.getProblem()">{{ feedItem.title }}</p>
                    <p class="date" am-time-ago="feedItem.postDate"></p>
                </div>
            </div>
            <p class="trim-desc" ng-click="feedItem.getProblem()">
                {{ feedItem.desc | limitTo: feedItem.limit }}{{feedItem.desc.length > feedItem.limit ? '...':''}}
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <div class="col-md-2 glyphicon-icons" layout="row"><img src="/images/like.png">
                <p class="date" ng-click="incr()">{{count}}</p>
            </div>
            <div class="col-md-2 glyphicon-icons" layout="row"><img src="/images/people.png"><p class="date">{{feedItem.people}} People</p></div>
            <div class="col-md-2 glyphicon-icons" layout="row"><img src="/images/team1.png"><p class="date">{{feedItem.teams}} Teams</p></div>
        </md-card-actions>
    </md-card>
</md-content>