<div class="dashboard-header">
    <div class="dashboard-header-inner">
        <div class="logo"><img src="images/logo-top.png" alt=""> Privileged4All</div>
        <div class="searchBox">
            <input type="text" class="form-control">
            <a class="action" data-target="#action" ng-click="feedVm.search(target)">Search</a>
        </div>
        <div class="logout">
            <a class="action" data-target="#action" ng-click="feedVm.logout(target)">Logout</a>
        </div>
        <div class="clear"></div>
    </div>
</div>