<div class="sidebar-left">
    <h1>Title of the website</h1>
    <nav>
        <h1>Main navigation</h1>
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </nav>
    <!-- aside inside sidebar -->
    <aside>
        <h1>My last tweets</h1>
        <ul>
            <li><a href="#">quoque... </a></li>
            <li><a href="#">inleceb... </a></li>
            <li><a href="#">locaaer... </a></li>
        </ul>
    </aside>
</div>