<!DOCTYPE html>
<html>
<head>
    <title>Privileged4All</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="og:description" content="Privileged4All will enable sport clubs to create a professional website with endless awesome features and help them organise their club like never before!" />
    <meta name="og:author" content="Void()" />
    <meta name="og:title" content="Privileged4All" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:keywords" content="education, team, teams, management, team management, website, responsive" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/fullpage.js/jquery.fullPage.min.js"></script>
    <script src="/bower_components/fullpage.js/vendors/jquery.easings.min.js"></script>
    <script src="/bower_components/fullpage.js/vendors/jquery.slimscroll.min.js"></script>

    <script src="javascripts/privilegedNg.js"></script>
    <script src="javascripts/controller/homeCtrl.js"></script>

    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/fullpage.js/jquery.fullPage.css" />
    <link rel='stylesheet' href='/stylesheets/index.css' />

    <script>
         $(document).ready(function() {
             $('#fullpage').fullpage({
                 anchors: ['start','features', 'roadmap', 'started'],
                 resize: true,
                 animateAnchor:false,
                 scrollOverflow: true,
                 autoScrolling:true,
                 slidesNavigation: true,
                 fitSection: false,
                 fitToSection: true,
                 fitToSectionDelay: 100,
                 menu: '#navigation',
                 continuousVertical:false,
                 css3: true,
                 onLeave: function(index, nextIndex, direction){
                    console.log("onLeave--" + "index: " + index + " nextIndex: " + nextIndex + " direction: " +  direction);
                 },
                 afterLoad: function(anchorLink, index){
                    console.log("afterLoad--" + "anchorLink: " + anchorLink + " index: " + index );
                 },
                 afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){
                    console.log("afterSlideLoad--" + "anchorLink: " + anchorLink + " index: " + index + " slideAnchor: " + slideAnchor + " slideIndex: " + slideIndex);
                 },
                 onSlideLeave: function(anchorLink, index, slideIndex, direction){
                    console.log("onSlideLeave--" + "anchorLink: " + anchorLink + " index: " + index + " slideIndex: " + slideIndex + " direction: " + direction);
                 },
                 afterRender: function(){
                    console.log("afterRender");
                 },
                 afterResize: function(){
                    console.log("afterResize");
                 }
             });
         });
    </script>
</head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="logo"><img src="images/logo-top.png" alt=""> Privileged4All</div>
                <div data-toggle="modal" data-target="#menu" id="navbar-toggle"><i class="btr bt-bars"></i></div>
                <div id="navigation">
                    <li data-menuanchor="start"><a href="#start">Start</a></li>
                    <li data-menuanchor="features"><a href="#features">Features</a></li>
                    <li data-menuanchor="roadmap"><a href="#roadmap">Roadmap</a></li>
                    <li data-menuanchor="started"><a href="#started">Get Started</a></li>
                    <li><a href="/index#/login" class="action" data-toggle="modal" data-target="#action">Login</a></li>
                    <li><a href="/index#/problem">New Problem</a></li>
                </div>
                <div class="lang">
                    <a href="#" class="active">en</a>
                    <b> | </b>
                    <a data-toggle="tooltip" data-placement="bottom" title="Coming soon">nl</a>
                    <b> | </b>
                    <a data-toggle="tooltip" data-placement="bottom" title="Coming soon">fr</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="fullpage">
            <div class="section intro" id="section0">
                <div class="quote">
                    <div>YOUR SPORTS COMMUNITY,</div>
                    <div>ONE STEP FURTHER.</div>
                    <div class="sub">Awesomeness for both <b>sport clubs</b> and <b>individual sportsmen, women & staff</b>. </div>
                    <a class="btn btn-signup" data-menuanchor="features" href="#features">Learn more</a>
                </div>
                <div class="scroll"><img src="images/scroll.png" alt=""></div>
            </div>
            <div class="section features" id="section1">
                <div class="slide">
                    <div class="page-header">Features</div>
                    <div class="page-header-label"><i class="btl bt-arrow-left"></i> what to expect <i class="btl bt-arrow-right"></i></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label">sport clubs</div>
                            <div class="title">Create an awesome website</div>
                            Make your website stand out by choosing your own colour scheme and adding your club logo. No coding is required - just pick one of our beautiful designs and we do the rest. Also, site content can be updated in seconds, anytime, anywhere with any device. Keep your club community informed with news updates, match reports, photos, ...
                        </div>
                    </div>
                    <div class="preview"><img src="/assets/feature-1.png" alt="" alt="Create an awesome website"></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label">sport clubs</div>
                            <div class="title">Organize all your teams within your sport club</div>
                            Klublr can handle multiple teams within your club. You can assign team managers and club officials to a specific team and allow them to manage memberships, member availability and online payments. Next to that, you can keep track of the team's season (matches, reports, ranking, ...) and improve communication with simple notifications and teamtalks.
                        </div>
                    </div>
                    <div class="preview"><img src="/assets/feature-2.png" alt="Organize all your teams within your sport club"></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label">sport clubs</div>
                            <div class="title">Increase your sport club's earnings</div>
                            We enable your club to earn some extra money. How? Well, for starters, you'll get your own club shop allowing you to sell merchandise. But that's not all: get more sponsors by allowing them to advertise on your website. Or simply activate our internal advertising system and receive monthly payouts by showing relevant advertisments in predefined areas on your website.
                        </div>
                    </div>
                    <div class="preview"><img src="/assets/feature-3.png" alt="Increase your sport club's earnings"></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label">sport clubs</div>
                            <div class="label">individuals</div>
                            <div class="title">Discover your sports community</div>
                            Finding new club members or a fitting sport club can be real hassle. Klublr Market helps sport clubs and individual sportmen, women & staff with this. We allow them to engage with each other by listing open vacancies at sport clubs as well as r&eacute;sum&eacute;s of individuals looking for a sport club.
                        </div>
                    </div>
                    <div class="preview"><img src="/assets/feature-4.png" alt="Discover your sports community"></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label">individuals</div>
                            <div class="title">Extend your network by making an impression</div>
                            Create an awesome profile wich automatically updates with your match results and stats. Share articles, photos and videos and keep your community informed on your career. Find and connect with other sportsmen & women, get to know each other and share unique experiences. Who knows who or what may cross your path in time?
                        </div>
                    </div>
                    <div class="preview"><img src="/assets/feature-5.png" alt="Extend your network by making an impression"></div>
                </div>
            </div>
            <div class="section roadmap" id="section2">
                <div class="slide">
                    <div class="page-header">Roadmap</div>
                    <div class="page-header-label"><i class="btl bt-arrow-left"></i> when to expect <i class="btl bt-arrow-right"></i></div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"><div class="timeline-start"></div></div>
                        <div class="dates"><div class="dates-inner">nov <div class="year">2015</div></div></div>
                        <div class="event">We've launched the landing page you're currently exploring. This page has multiple purposes. First of all, we want to make our target market aware of our product and inform them about the key features and benefits of Klublr. Furthermore, we want to give them the opportunity to get early access once we launch Klublr. In other words, pre-registrations are open! </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"></div>
                        <div class="dates"><div class="dates-inner">jan <div class="year">2016</div></div></div>
                        <div class="event">We aim to launch a beta version of klublr early 2016. This version, however, will not yet contain all features as mentioned above. We'll start with a few basic features such as the customizable website and its content, memberships, agenda, teamtalks,... We focus on getting these figured out completely, with the help of your valuable feedback, before moving on to the more sophisticated features. </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"></div>
                        <div class="dates"><div class="dates-inner">jul <div class="year">2016</div></div></div>
                        <div class="event">During the first months of 2016 we'll focus on improving the launched features of our beta, but also work on getting some new awesome features live. You can expect features as match reports, member availabilty, custom pages for the website, sponsor management, ... We also plan on rolling out Klublr Market, enabling sport clubs to find new members and individuals to get noticed in their search for a sport club.  </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"></div>
                        <div class="dates"><div class="dates-inner">dec <div class="year">2016</div></div></div>
                        <div class="event">Payments, payments, payments. By the end of 2016 we will be implementing online payments. Sport clubs will get their own club shop allowing them to sell merchandise and they will be able to collect payments from their members for memberships, events, ... Also, we'll introduce our internal advertising system allowing sport clubs to show relevant advertisments in predefined areas on their website and receive monthly payouts. </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"><div class="timeline-end"></div></div>
                        <div class="dates"><div class="dates-inner">...</div></div>
                        <div class="event">Who knows what the future brings. We'll constantly be brainstorming about new features and how to improve existing features. Your feedback will be most valuable in every stage of the development. The opportunities are endless... </div>
                    </div>
                </div>
            </div>
            <div class="section footer" id="section3">
                <div class="footer-inner">
                    <div class="sub">Sign up <b>your sport club</b> or <b>as an individual</b> for <b>free</b> now! You'll be one of the first to know when we launch!</div>
                    <a class="type" href="/index">
                        <i class="btl bt-shield"></i>
                        Curious
                    </a>
                    <a class="type" href="/index">
                        <i class="btl bt-user"></i>
                        Creator
                    </a>
                </div>
                <div class="copyright">Copyright &copy 2015 <a href="#">Void()</a> <i class="bts bt-circle"></i> <a href="mailto:ser@kurious7.be?subject=Klublr Questions">Contact us</a> <i class="bts bt-circle"></i> <a href="https://www.facebook.com/klublr">Facebook</a> <i class="bts bt-circle"></i> <a href="https://twitter.com/HelloKlublr">Twitter</a></div>
            </div>
        </div>
    </body>
</html>
