
.dashboard {  height: 100%; width: 100%; background-color: #fff; }
.dashboard-header { height: 10%; background: url('../images/background.jpg') bottom center;
    border-top: 0;  color: #E0E0E0;  opacity: 0.8; }
.dashboard-header-inner {  width: 100%;  margin: 0 auto;  font-size: 14px;  padding: 0px 100px;  }
.dashboard-header-inner .logo {  float: left;  font-size: 16px;  font-weight: 600; margin-top: 8px; }
.dashboard-header-inner .logo img {  width: 35px;  margin-right: 10px;  }
.searchBox {  width: 50%; float: left;  margin: 0.5% 10%;  padding: 0px;  border: 1px solid rgba(255,255,255,0.15);  }
.logout {  float: right; margin: 1.5% 0; }
.logout a.action {  margin: 0.5% 0;  padding: 10px;  color: rgba(255,255,255,1);  border: 1px solid #ed485c;  border-radius: 4px;  }
.logout a.action:hover {  background: #ed485c;  color: #fff;  text-decoration: none; cursor: pointer; }

.dashboard-body { position: absolute; height: 90%; width: 100%; background: #F3F3F3; color: #000; }
.dashboard-body .containers {  position: relative; float: left; margin: 2% 2%; }
.dashboard-body .sidebar {  width: 20%; min-height: 90%; background: #FBFBFB; }
.dashboard-body .left h3 { text-align: center; }
.dashboard-body .nav-links {  height: auto; width: 100%; font-size: 16px; margin: 5px; }
.dashboard-body .body-middle {  width: 48%; height: 90%; overflow-y: scroll; background: transparent;  }
.dashboard-body .body-middle .content-scroll { height: auto; }
.content-scroll .content {  height: 100px; }
.dashboard-body .center { width: 50%; height: 100%; }
.dashboard-body .containers .blocks { float: left; width: 100%; min-height: 45%; margin-top: 5px; border: solid red 1px; }

md-card .trim-desc {  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;  display: inline-block;  }
.glyphicon-icons { float: left; font-size: 16px;  font-weight: 600;  }
.glyphicon-icons img { margin-left: 20px; width: auto; height: 20px; }
.glyphicon-icons p {  margin-left: 5px;  }


.login-box-msg, .register-box-msg {
    margin: 0;  text-align: center;  padding: 0 20px 20px 20px;  font-size: 30px;  font-weight:100;  }
.login-box-anchor, .register-box-anchor { text-align: center; margin-top: -10%; transition: transform .3s linear; }
.login-box-anchor a:hover, .register-box-anchor a:hover { text-decoration: none;  cursor: pointer;
    transform: scale(1.1); transition: transform 500ms linear 0ms; }
.login-separator { border-left: solid 2px grey; }
.icon-support {  position: relative;  }
.glyphicon-custom-position {  top: -25px;  left: 95%;  }
.control-label:after {  content:"*";  color:red;  margin-left: 5px;  }
.item {
    width: 100%;  display: block;  padding: 0 75px 25px;
    text-align: left;  text-transform: uppercase;  padding: 0;  margin: 4px;
    color: #919498;  font-size: 12px;  font-weight: 300;
}
.form-row {  width: 100%;  padding: 0 75px 25px;  text-align: left;  }
.signup-footer {  display: block;  text-align: center;  padding: 25px 25px 75px;  }
.btn-submit {  min-width: 150px;  background-color: #ed485c;
    transition: all 0.4s ease-in-out;  font-size: 14px;  padding: 15px;  color: white;  }
.btn-submit:hover {  background-color: #d84153;  color:white;  font-size: 16px;  }
.form-theme {  background: rgba(35,41,49,0.05);  border-top: 1px solid rgba(35,41,49,0.05);  }