.dashboard-body .body-middle { width: 54%; height: 98%; background: transparent; }
.content-scroll .content { height: 100px; }
.dashboard-body .center { width: 50%; height: 100%; }
.dashboard-body .containers .blocks { float: left; width: 100%; min-height: 45%; margin-top: 5px; border: solid red 1px; }
md-content .md-default-theme, md-content { background-color: transparent; }
md-card .card-content p { margin-bottom: 0; }
md-card .trim-desc { width: 100%; overflow: hidden; display: inline-block; }
md-card .trim-desc p { margin-bottom: 0; }
.glyphicon-icons { float: left; font-size: 16px; font-weight: 600; }
.glyphicon-icons img { margin-left: 20px; width: auto; height: 20px; }
.glyphicon-icons p { margin-left: 5px; }