<md-dialog aria-label="Forgot Password"  ng-cloak>
    <form>
        <md-dialog-content class="conatiner-body">
            <p class="forgot-msg">Forgot Password</p>
            <div class="form-group icon-support form-row">
                <div class="item control-label">Email ID</div>
                <input type="email" class="form-control">
            </div>
            <div class="signup-footer">
                <input class="btn btn-submit" type="submit" value="Send" />
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>